/*general settings*/
:root{
	--color:rgba(0,60,30);
}
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	background:#f4f4f4;
}
/*navigation*/
header{
	background:var(--color);
	color:#f4f4f4;
	width:100vw;
	height:25vh;	
}

header h1{
	letter-spacing:1.7px;
	font-style:italic;
}

header nav ul{
	list-style:none;
	background:#f4f4f4;
	width:100%;
}

header nav ul li a{
	text-decoration:none;
	color:var(--color);
}
/*end navigation*/

/*home section*/
#home aside{
	box-shadow:0 0 3px #333;
	width:60%;
}

#home .menu{
	text-transform:capitalize;
	text-align:center;
	/*padding-top:0.5rem;*/
}
#home .menu ul{
	list-style:none;
}
#home aside .form-container input,textarea{
	outline:0;
}

#home aside .form-container .btn-submit{
	background:var(--color);
	color:#f4f4f4;
	outline:0;
	border:0;
}

#about .main p{
	text-align: center;
	letter-spacing:1.5px;
	line-height:1.7;
	text-indent:25px;
}

#dev-news .dev .read-more,.read-less{
	background:var(--color);
	color:#f4f4f4;
	text-transform: uppercase;
	letter-spacing:1.3px;
	text-decoration:none;
}

footer{
	width:100%;
	text-align:center;
	background:var(--color);
	color:#f4f4f4;
}

/*To mobile screens*/
@media(max-width:576px){
	/*navigation*/
	header{
		font-size:10px;
		display:flex;
		align-items:center;
		justify-content:space-between;
	}
	
	header h1{
		font-size:2.5em;
		/*text-align: center;*/
		width:85%;
		height:50%;
		display:inherit;
		order:2;
		justify-content: center;
		align-items:center;
	}
	
	header nav ul{
		transform: scale(1,0);
		transition: transform 250ms ease-in-out;
		transform-origin:top;
		position:absolute;
		top:25vh;
		box-shadow:0 0 3px #333;
		width:50%;
	}
	
	header nav ul li{
		border-top:1px solid var(--color);
	}
	
	header .check:checked ~ nav ul{
		transform: scale(1,1);
		transition: transform 250ms ease-in-out;
	}
	
	header .check:checked ~ nav a{
		opacity:1;
		transition: opacity 250ms ease-in-out 250ms;
	}
	header nav a{
		font-size:1.6em;
		opacity:0;
		transition: opacity 250ms ease;
	}
	
	header .btn-toggle{
		display:inherit;
		order:1;
	}
	
	header .check{
		display:none;
	}
	
	/*end navigation*/
	
	/*home section*/
	#home .showcase{
		background-image:url("img/womanUsingAComputer.jpg");
		background-position:center;
		background-size:cover;
		background-repeat: no-repeat;
		width:100vw;
		height:50vh;
	}
	
	#home .check-side-menu{
		display:none;
	}	
	#home .check-side-menu:checked ~ aside{
		/*display:block;*/
		transition: transform 250ms ease-in-out 100ms;
		transform:translateX(0%);
	}	
	#home aside{
		/*display:none;*/
		transition:transform 250ms ease-in-out;
		transform:translateX(-100%);
		display:flex;
		flex-direction: column;
		justify-content:center;
		height:100%;
		align-items:center;
	}
	
	#home .open-menu,.close-menu{
		background:var(--color);
		position:absolute;
		font-size:1.5rem;
		color:#f4f4f4;
		font-weight:800;
		padding:0.6rem;
	}
	
	#home .form-desktop{
		display:none;
	}
	
	/*end home section*/
	
	/*about section*/
	#about{
		padding:1.5rem;
	}
	/*end about section*/
	
	/*dev news section*/
	#dev-news{
		height:50%;
		width:100%;
		padding-bottom:2rem;
	}
	
	#dev-news .header{
		background:rgba(230,230,230,0.5);
		color:var(--color);
		text-align:center;
		text-transform: uppercase;
		box-shadow:0 0 3px #333;
		padding:1rem;
		letter-spacing:1.3px;
	}
	
	#dev-news .highlights{
		margin-top:1rem;
		text-align: center;
	}
	#dev-news .dev{
		box-shadow:0 0 1px #000;
		padding:0.3rem;
		width:50%;
		margin:0 auto 0.5rem;
	}
	
	#dev-news img{
		width:125px;
	}
	
	#dev-news .dev .p{
		letter-spacing:1.3px;
		text-indent:10%;
		line-height:1.3;
		padding-top:0.5rem;	
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
	.read-less{
		display:none;
	}
	
	#dev-news .dev .read-more,.read-less{
		padding:0.2rem;
		font-size:12px;
	}
	/*end dev-news section*/
	/*footer*/
	footer{
		padding:1rem 0;
		line-height:1.6;
	}
	
	footer .social-media .icon{
		font-size:2rem;
	}
	footer .socket{
		width:100%;
	}
}
/*To desktop screens*/
@media(min-width:768px){
	/*navigation*/	
	
	header{
		height:15vh;
		display:flex;
	}
	header h1{
		display: inherit;
		height:100%;
		align-items:center;
		width:50vw;
		margin-left:1rem;
	}
	header nav ul{
		display: flex;
		background:var(--color);
		justify-content: flex-end;
		width:50vw;
		height:100%;
		align-items: center;	
	}
	
	header nav ul li{
		margin-right:2rem;
	}
	header nav ul li a{
		color:#f4f4f4;
	}
	
	header .check{
		display:none;
	}
	header .btn-toggle{
		display:none;
	}
	
	/*end navigation*/
	/*home section*/
		#home{
			width:100%;
			height:100%;
		}
		#home .showcase{
		background-image:url("img/womanUsingAComputer.jpg");
		background-position:center;
		background-size:cover;
		background-repeat: no-repeat;
		width:100vw;
		height:50vh;
		}
		#home aside{
			all: unset;	
			height:50vh;
		}
		#home aside .menu{
			box-shadow:0 0 3px #333;
			font-size:2.5rem;
			width:50%;
			padding:0.5rem;
		}
		#home aside .form-mobile{
			display:none;
		}
		#home aside .form-desktop{
			display:block;
		}
		
		#home aside .form-container{
		text-align:center;
		font-size:2.5rem;
		box-shadow:0 0 3px #333;
		width:60%;
		
		}
		#home aside .form-container h4{
		text-transform: uppercase;
		color:var(--color);
		text-align:center;
		}
		
		#home aside .form-container form{
		line-height:1.7;
		padding:1rem;
		}
		
		#home aside .form-container .red{
			color:red;
		}
		#home aside .form-container input{
			padding:1rem;
			margin-left:0.3rem;
		}
		
		#home aside .form-container textarea {
			padding:3vh;
			width:60%;
		}
		#home aside .form-container .btn-submit{
		font-size:2rem;
		display:block;
		padding:1rem;
		margin:0 auto;
		}
		
		#home .open-menu,.close-menu,.check-side-menu{
			display:none;
		}
	/*end home section*/
	/*about section*/
		#about{
			all: unset;
			height:50vh;
		}
		
		#about p{
			/*display:none;*/
		}
	/*end about section*/
	/*dev news section*/
		#dev-news{
			width:100vw;
		}
		#dev-news img{
			width:250px;
		}
	/*end dev news section*/
}